:root {
  --bg-color: white; /* grundfärgen */
  --text-color: black; /* testgrund färg */
}
/*kroppen för hemsidan */
body {
  background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
}
/* knappen  */
button {
  background-color: var(--text-color);
  color: var(--bg-color);
  transition: background-color 0.3s, color 0.3s;
  transform: rotateX("angle");
}

img:hover {
  transform: rotate(180deg);
}
