/* Contact me css */

body {
  background-color: var(--backgroundbody);
  font-family: var(--font);
  color: var(--textcolordarkwhite);
  text-align: center;
  padding: 60px;
}

.contact {
  width: 100%;
  max-width: 400px; /* Begränsa bredden */
  margin: 0 auto; /* Centrera formuläret */
  padding: 20px;
  background-color: #1f3b57; /* Mörk bakgrund */
  border-radius: 25px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 15px; /* Avstånd mellan element */
}

.form-firstrow {
  display: flex;
  gap: 10px; /* Avstånd mellan fälten */
}

.form-firstrow input {
  flex: 1; /* Gör fälten lika stora */
  border: none;
  padding: 10px;
  background-color: #eaeaea; /* Ljus bakgrund */
  font-style: italic;
}

.form-firstrow input:first-child {
  border-radius: 25px 0 0; /* förnamn kant */
}

.form-firstrow input:last-child {
  border-radius: 0 25px 0 0; /* efternamn kant */
}

.form-secondrow {
  display: flex;
  gap: 10px; /* Avstånd mellan fälten */
}

.form-secondrow input {
  flex: 1; /* Gör fälten lika stora */
  border: none;
  padding: 10px;
  background-color: #eaeaea; /* Ljus bakgrund */
  border-radius: 0;
  font-style: italic;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  border: none;
  border-radius: none;
  box-sizing: border-box;
  background-color: #eaeaea; /* Ljus bakgrund */
  font-style: italic;
}

textarea {
  height: 150px; /* Höjd på textrutan */
  resize: none; /* Förhindrar användare från att ändra storlek */
}

.button {
  background-color: #4caf50; /* Grön knapp */
  color: white;
  padding: 10px;
  border: none;
  border-radius: 0 0 25px 25px;
  cursor: pointer;
  text-transform: uppercase;
}

.button:hover {
  background-color: #45a049; /* Mörkare grön vid hover */
}

#mainboxtitle {
  font-size: var(--sizeheading);
}
