/* Contact me css */

body {
  background-color: var(--backgroundbody);
  font-family: var(--font);
  color: var(--textcolordarkwhite);
}

form {
  width: 50px;
}

input::placeholder {
  color: #78797a;
  font-style: italic;
}
