/* Container */

body {
  background-color: var(--backgroundwhite);
  align-items: center;
  display: flex;
  justify-content: center;
  font-family: var(--font);
}
header {
  margin: 0;
  height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  overflow: hidden;
  position: relative;
}

.btn-primary {
  background: #696969;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.btn-primary:hover {
  background: #4d4d4d;
}
.detail {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5); /* Halvtransparent svart bakgrund */
  backdrop-filter: blur(10px);
  z-index: 1000;
}

.notification {
  position: fixed;
  top: 30%;
  left: 40%;
  transform: translate(-50%, -50%);
  width: 400px;
  max-width: 90%;
  background: #0f0f0f;
  padding: 20px;
  border-radius: 15px;
  z-index: 1100;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.3);
  animation: fadeIn 0.5s forwards;
}

/* Göm notifikationen initialt */
.hidden {
  display: none;
}

/* Visa notifikationen dynamiskt */
.show {
  display: flex;
}
.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikal centrering */
  padding: 0 5px; /* Lägg till lite padding om det behövs */
  box-sizing: border-box; /* Se till att padding inte påverkar bredden */
}
.title {
  font-size: 0.8rem;
  font-weight: 600;
  color: white;
}
/* klocka */
.clock {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(161, 159, 159);
}

.notif-i {
  font-size: 1.5rem;
  color: white;
  display: flex;
}
.text {
  color: white;
  font-size: 1rem;
  font-weight: 600;
}
.line {
  height: 2px; /* Linjens höjd */
  width: 100%; /* Linjens bredd */
  background-color: white; /* Färg */
  margin: 20px 0; /* Avstånd upp och ner */
}
#weather-title {
  color: white;
}
.weather-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center; /* Vertikal centrering */
}
#location,
#temperature,
#description {
  font-size: 0.8rem;
  font-weight: 600;
  color: rgb(161, 159, 159);
}
#icon {
  filter: invert(100%);
  width: 50px; /* Justera storleken på ikonen */
  height: 50px;
}

.animate {
  animation: pop 0.5s forwards;
}

@keyframes pop {
  0% {
    transform: translateY(0);
    opacity: 0;
  }
  50% {
    transform: translateY(15px);
    opacity: 1;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/* mobilenav */
.mobile-nav {
  display: none; /* Horisontell layout */
  justify-content: flex-start; /* Justera innehåll till vänster */
  align-items: center; /* Centrera vertikalt */
  gap: 10px; /* Avstånd mellan knappar */
  padding: 10px 20px; /* Lägg till lite utrymme */
  margin: 0;
  list-style-type: none; /* Ta bort punkter */
  overflow: visible; /* Säkerställ att dropdown visas korrekt */
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 9999; /* Säkerställ att menyn ligger över andra element */
  background: var(--backgrundnav); /* Transparent bakgrund */
  -webkit-backdrop-filter: blur(50px); /* Safari-stöd */
  backdrop-filter: blur(50px); /* Suddig bakgrund */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Lägg till skugga */
  border: 2px solid rgba(255, 255, 255, 0.18); /* Vit kantlinje */
}

/* knapparna */
.mobile-nav button,
.dropbtn {
  color: var(--textcolordarkwhite); /* Vit text */
  text-align: center; /* Centrera texten */
  padding: 14px 16px; /* Utrymme inuti knappar */
  text-decoration: none; /* Ta bort understrykning */
  border: none; /* Ingen kantlinje */
  background: none; /* Ingen bakgrund */
  cursor: pointer; /* Pekare ändras till hand */
  font-family: Arial, sans-serif; /* Standardtypsnitt */
  font-size: var(--textsize); /* Textstorlek */
  transition: background-color 0.3s ease-in-out; /* Smidig övergång */
  white-space: nowrap; /* Texten bryts inte */
}

/* hover effekt för knappar */
.mobile-nav button:hover,
.dropbtn:hover {
  background-color: var(--hovercolor); /* Semi-transparent bakgrund */
  border-radius: 10px; /* Rundade hörn */
}

/* === DROPDOWN === */
.dropdown {
  position: relative; /* För att dropdown ska vara relativ till knappen */
  display: inline-block;
  z-index: 1500; /* Säkerställ att dropdown ligger över andra element */
}

/* === DROPDOWN-INNEHÅLL === */
.dropdown-content {
  display: none; /* Dölj som standard */
  position: absolute;
  top: 100%; /* Placera precis under knappen */
  left: 0; /* Börja från vänster */
  background: var(--backgrundnav); /* transparent bakgrund */
  -webkit-backdrop-filter: blur(8px); /* Safari-stöd */
  backdrop-filter: blur(8px); /* Suddig bakgrund */
  min-width: 160px; /* Standardbredd för dropdown */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Skugga för dropdown */
  border: 2px solid rgba(255, 255, 255, 0.18); /* Vit kantlinje */
  z-index: 1001; /* Placera över andra element */
  border-radius: 4px; /* Rundade hörn */
  overflow: hidden; /* Förhindra överflöd */
}

/* === DROPDOWN-KNAPPAR === */
.dropdown-content button {
  color: var(--textcolordarkwhite); /* Textfärg */
  padding: 12px 16px; /* Utrymme */
  text-decoration: none; /* Ta bort understrykning */
  display: block; /* En knapp per rad */
  text-align: left; /* Vänsterjusterad text */
  background: none; /* Ingen bakgrund */
  border: none; /* Ingen kantlinje */
  width: 100%; /* Fyll dropdown bredden */
  cursor: pointer; /* Handpekare */
  font-size: var(--textsize); /* Textstorlek */
  transition: background-color 0.2s ease-in-out; /* Smidig övergång */
}

/* hover för dropdown knappar */
.dropdown-content button:hover {
  background-color: var(--hovercolor); /* Ljusgrå bakgrund vid hover */
  border-radius: 0;
}

/* visar dropdown vid hover */
.dropdown:hover .dropdown-content {
  display: block;
}
section {
  scroll-margin-top: 80px; /* Lägg till utrymme för fast navigering tex titel */
}

.container {
  display: flex;
  background-color: var(--backgroundwhite1);
  color: var(--textcolordarkwhite);
  max-width: 1000px;
  max-height: 900px;
  width: 100%;
  overflow: hidden;
  box-shadow: 2px 2px 50px rgb(104, 103, 103), -2px -2px 50px rgb(104, 103, 103);
  border-radius: 25px;
}

/* uppdelning av boxarna */
.main-content-wrapper,
.second-content-wrapper {
  flex-grow: 1;
}

/* Första wrapper */
.main-content-wrapper {
  flex: 1;
  flex: 0 0 35%;
  flex-direction: column;
  background-color: var(--backgrounddark);
  padding-top: 10%;
}

.intro-bild {
  flex: 0 0 25%;
  display: flex;
  flex-direction: column; /* Stapla innehållet vertikalt */
  justify-content: flex-end; /* Flytta innehållet längst ner */
  margin-left: 10%;
}

.foto {
  width: 20%;
  border-radius: 50px;
}

/* Introduktion */
.intro-section {
  flex: 1;
  background-color: transparent;
  color: var(--textcolordarkwhite);
  margin-left: 10%;
  margin-right: 10%;
}

#mainboxtitle {
  font-size: var(--sizeheading);
}

#texthead {
  font-size: var(--textsize);
}

/* popout knappar */
.intro-section a {
  color: var(--textcolordarkwhite);
  text-decoration: none;
  cursor: pointer;
  font-size: var(--sizepopbuttoms);
}

.intro-section a:hover {
  color: rgb(72, 72, 231);
}

/* Footer */
.footer-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  justify-content: center;
  padding: 15%;
}

.footer-up img {
  width: 25px;
  height: 25px;
  margin: 5px;
}

.footer-up img:hover {
  transform: scale(1.5);
  transition: transform 0.3s ease;
}

.footer-down {
  font-size: var(textsizesmall);
  color: var(--textcolordarkwhite);
  margin-bottom: 10%;
  margin-left: 10%;
  margin-right: 10%;
}

#copyright {
  font-size: var(--textsizesmallsmall);
}

/* Andra wrapper */
.second-content-wrapper {
  display: flex;
  flex: 0 0 65%;
  flex-direction: column;
  overflow: auto;
  overflow-x: hidden;
  background-color: var(--backgroundwhite1);
  box-sizing: border-box;
  margin: 5% 0 5% 0;
  position: relative;
  z-index: 1;
}

/* rubrikerna i timeline  */
#skills,
#experience {
  position: sticky;
  top: 0px;
  padding: 5px 15px;
  background: var(--hovercolor);
  color: var(--textcolordarkwhite);
  z-index: 1;
  margin: 0 10px 0px 10px;
  z-index: 10;
}

section {
  margin-bottom: 0px;
}

/* Skills List */
.skills {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin: 20px;
  padding: 30px 0;
}

/* skills knappar */
.skill {
  background-color: var(--backgroundblue);
  color: var(--textcolordarkwhite);
  padding: 10px 10px;
  border-radius: 5px;
  font-size: 14px;
  text-align: center;
}

/* Hover effects */
.skill:hover {
  background-color: var(--backgrounddark);
  color: var(--textcolordarkwhite);
  transform: scale(1.05);
  transition: transform 0.3s ease, background-color 0.3s ease;
}

/* timeline mellanrum */
.timeline {
  position: relative;
  max-width: 100%;
  margin: 0 auto;
  color: black;
  font-size: var(--textsizesmall);
  margin: 20px 0;
}
/* tidslinje position*/
.timeline::after {
  content: "";
  position: absolute;
  width: 6px;
  background-color: var(--backgroundwhite);
  top: 0;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
}

.timeline-item {
  position: relative;
  padding: 10px 34px;
  background-color: inherit;
  width: 40%;
}

/* Cirklarna på tidslinjen */
.timeline-item::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 25px;
  right: -18px;
  background-color: var(--backgroundwhite);
  border: 4px solid #43f35b4d;
  top: 25px;
  border-radius: 50%;
  z-index: 1;
}

.timeline-item.left {
  left: -1%;
}

.timeline-item.right {
  left: 50%;
}

/* Lägg till pilar på vänstra behållaren (pekar åt höger) */
.timeline-item.left::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  right: 25px;
  border: medium solid white;
  border-width: 10px 0 10px 10px;
  border-color: transparent transparent transparent white;
}

/* Lägg till pilar på högra behållaren (pekar åt vänster) */
.timeline-item.right::before {
  content: " ";
  height: 0;
  position: absolute;
  top: 30px;
  width: 0;
  left: 25px;
  border: medium solid white;
  border-width: 10px 10px 10px 0;
  border-color: transparent white transparent transparent;
}

.timeline-item .content {
  background-color: var(--backgroundwhite);
  border-radius: 25px;
  padding: 20px;
  position: relative;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}
.timeline-item:hover .content {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

/* Korrigera cirkeln för behållare på höger sida */
.right::after {
  left: -14px;
}

/* Skills Section */
.skills-section {
  background-color: var(--backgrounddark);
  color: var(--textcolordarkwhite);
}
/* tablet */
@media only screen and (min-width: 768px) and (max-width: 1366px) {
  /* Anpassade stilar för alla iPad-modeller */
}
body {
  display: flex;
  padding: 0;
  margin: 0;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

header {
  display: block;
}

/* phones */
@media only screen and (min-width: 320px) and (max-width: 430px) and (orientation: portrait) {
  /* Anpassade stilar för stående läge på alla iPhones */
  /* mobile nav synligt */
  .mobile-nav {
    display: flex;

    top: 0;
  }
  body {
    display: flex;
    padding: -10px;
    margin: 0px;
    overflow: scroll;
    background-color: transparent;
    flex-direction: column;
  }
  header {
    display: block;
  }

  .container {
    flex-direction: column;
    overflow: visible;
    border-radius: 0;
    flex-grow: 1;
  }
  .main-content-wrapper {
    border-radius: 0;
    flex-grow: 1;
  }

  .intro-bild {
    align-items: left;
    margin-top: 12%;
    margin-left: 40px;
  }

  .intro-section a {
    display: none;
  }
  .messagetext {
    display: none;
  }
  .second-content-wrapper {
    display: flex; /* Behåll flexlayout */
    flex-direction: column;
    flex-grow: 1; /* Låt wrapper växa korrekt */
    padding: 25px;
    overflow: visible;
    box-sizing: border-box;
    gap: 0px;
  }

  #skills,
  #experience {
    top: 60px; /* Anpassa sticky position */

    margin-bottom: 0px;
    padding: 8px 16px;
  }

  .timeline-item {
    width: 100%;
  }
  .timeline-item.left {
    left: -35px;
  }
  .timeline-item.right {
    left: -35px;
  }

  .timeline-item::after {
    display: none;
  }

  .timeline-item.left::before {
    right: 25px;
    border-width: 10px 10px 10px 0;
    border-color: transparent white transparent transparent;
    display: none;
  }

  .timeline-item.right::before {
    left: 25px;
    border-width: 10px 0 10px 10px;
    border-color: transparent transparent transparent white;
    display: none;
  }
}
