/* About me css */

body {
  background-color: var(--backgroundbody);
  font-family: var(--font);
  color: var(--textcolordarkwhite);
}

#mainboxtitle {
  font-size: var(--sizeheading);
}

#texthead {
  font-size: var(--textsize);
}
